@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: #fff;
}
/* 
.carousel.carousel-slider .control-arrow {
  height: 100px;
} */
.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent !important;
}
.contact_img {
  background-image: url("https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
}
.navbaractive {
  color: #942727 !important;
}
.name-heading {
  color: transparent;
}
